html, body
{
  height: 100%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #111111;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12pt;
  font-weight: 200;
  color: #FFF;
}

h1, h2, h3
{
  margin: 0;
  padding: 0;
}

p, ol, ul
{
  margin-top: 0;
}

ol, ul
{
  padding: 0;
  list-style: none;
}

p
{
  line-height: 180%;
}


a:hover
{
  color: white;
}

.container
{
  overflow: hidden;
  margin: 0em auto;
  width: 1200px;
}



/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
  display: inline-block;
  padding: 1em 2em 1em 2em;
  letter-spacing: 0.10em;
  margin-top: 2em;
  padding: 1.40em 3em;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  color: #FFF;
}

.button-alt
{
  padding: 1em 2em;
  border-color: rgba(0,0,0,.8);
  color: rgba(0,0,0,.8);
}

.button:hover{
  color : rgb(246,194,59);
}

.btn.active{
  color: white;
  background-color: black;
  aria-pressed:"true"
}



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#wrapper
{
  position: relative;
  padding: 5em 0em 20em 0em;
  background: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
  position: relative;
  padding: 15em 0em 7em 0em;
  background: #111111 url(C:/java/workspace/BTP/src/main/resources/static/images/header-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 15em 0em;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
  padding-top: 0em;
  text-align: center;


}

#banner .title h2
{
  font-size: 4em;
  position: relative;
  font-stretch: expanded;
  color : rgb(255,255,255);
  font-family: arial;
  text-shadow: black 0.1em 0.1em 0.2em;

}

#banner .title .byline
{
  font-size: 2em;
  color :rgb(255,255,255);
  font-family: arial;
}




/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
  position: relative;
  padding: 7em 0em 7em 0em;
  background: #111111;
  background-size: cover;
  text-align: center;

}

#welcome .container
{
  width: 1000px;
  padding: 0px 100px;
  color: rgba(255,255,255,0.8);
}

#welcome a
{
  color: rgba(255,255,255,1);
}

.input_container{
  position: relative; /*important*/
}

.input_icon{
  position: absolute; /*important*/
  top: 2px;
  right: 1px;
  color: lightgrey;
  font-size: 21px; /*Tu peux changer ici*/
  width: 50px;
}
