<div id="header-wrapper">
  <div id="banner" class="container">
    <div class="title">
      <h2>BTP MANAGEMENT</h2>
      <span class="byline">L'outil indispensable à la création et	au suivi de vos projets que vous soyez Maitre d'ouvrage, Maitre
					d'Oeuvre ou encore une Entreprise Générale</span>
    </div>
    <ul class="actions">
      <li><a href="#" class="button">Connexion</a> <a href="#"
                                                      class="button">Inscription</a></li>
    </ul>
  </div>
</div>
<div id="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col" style="text-align: center; font-size: xx-large;">Gérer	des équipes</div>
      <div class="col" style="text-align: center; font-size: xx-large;">Mettre en place vos actions</div>
      <div class="col" style="text-align: center; font-size: xx-large;">Suivre vos budgets</div>
    </div>

    <div class="row">
      <div class="col" style="text-align: justify;">Une solution pour gérer vos équipes et insulfer une dynamique tout au long de
        vos projet : gérer des partenaires, gérer des actions, insulfer la motivation à vos équipes. Accessible en un click.</div>
      <div class="col" style="text-align: center;">Doté d'un plan	d'action numérique. Vous serez en mesure de coordonner les actions
        de votre projet. De la demande d'action à la validation ce celle-ci	par l'interlocuteur visé, BTP Dream propose des solutions étendues
        sur cette problématique.</div>
      <div class="col" style="text-align: center;">Suivez vos	dépenses en temps réel. Valider les factures à l'avancement. Gérer vos devis.</div>
    </div>

  </div>
</div>
<div id="welcome">
  <div class="container">
    <div class="title">
      <h2>BTP MANAGEMENT</h2>
      <span class="byline">Née de la collaboration d'une équipe de 5 dévelopeurs</span>
    </div>
    <p>
      Ceci est <strong>BTP MANAGEMENT</strong> une application libre d'utilisation, efficiente à destination des profesionnels du	bâtiment.
    </p>
    <ul class="actions">
      <li><a href="#" class="button">En Savoir +</a></li>
    </ul>
  </div>
</div>

