<div id="header-wrapper">
  <div id="banner" class="container">
    <div class="title">
      <h2>BTP MANAGEMENT</h2>
      <span class="byline">L'outil indispensable à la création et	au suivi de vos projets que vous soyez Maitre d'ouvrage, Maitre
					d'Oeuvre ou encore une Entreprise Générale</span>
    </div>
    <ul class="actions">
      <li><a href="#" class="button mr-5" data-toggle="modal" data-target="#connexion">Connexion</a>
        <a href="#" class="button" data-toggle="modal" data-target="#inscription">Inscription</a></li>
    </ul>
  </div>
</div>
<div id="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col" style="text-align: center; font-size: xx-large;">Gérer	des équipes</div>
      <div class="col" style="text-align: center; font-size: xx-large;">Mettre en place vos actions</div>
      <div class="col" style="text-align: center; font-size: xx-large;">Suivre vos budgets</div>
    </div>

    <div class="row">
      <div class="col" style="text-align: justify;">Une solution pour gérer vos équipes et insulfer une dynamique tout au long de
        vos projet : gérer des partenaires, gérer des actions, insulfer la motivation à vos équipes. Accessible en un click.</div>
      <div class="col" style="text-align: center;">Doté d'un plan	d'action numérique. Vous serez en mesure de coordonner les actions
        de votre projet. De la demande d'action à la validation ce celle-ci	par l'interlocuteur visé, BTP Dream propose des solutions étendues
        sur cette problématique.</div>
      <div class="col" style="text-align: center;">Suivez vos	dépenses en temps réel. Valider les factures à l'avancement. Gérer vos devis.</div>
    </div>

  </div>
</div>
<div id="welcome">
  <div class="container">
    <div class="title">
      <h2>BTP MANAGEMENT</h2>
      <span class="byline">Née de la collaboration d'une équipe de 5 dévelopeurs</span>
    </div>
    <p>
      Ceci est <strong>BTP MANAGEMENT</strong> une application libre d'utilisation, efficiente à destination des profesionnels du	bâtiment.
    </p>
    <ul class="actions">
      <li><a href="#" class="button">En Savoir +</a></li>
    </ul>
  </div>
</div>

<!--Modal Connexion-->

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <div id="connexion" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="card-header bg-dark text-white">
                  <h3>Connexion</h3>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="identifiantForm">Identifiant</label> <input
                    type="text" class="form-control" id="identifiantForm"
                    name="identifiantForm" style="border-radius: 25px">
                  </div>
                  <div class="form-group">
                    <label for="mdpForm">Mot de Passe</label> <input type="password"
                                                                 class="form-control" id="mdpForm" name="mdpForm"
                                                                 style="border-radius: 25px">
                    <button class="input-group-text">
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                  <div class="col-md-12 text-center ">
                    <button data-toggle="modal" data-target="#connexion" class=" btn btn-block btn-dark tx-tfm "
                            style="border-radius: 50px" (click)="accueil()">Connexion</button>
                  </div>
                  <br />
                  <div class="col-md-12 text-center ">
                    <button type="submit"
                            class=" btn btn-block btn-warning tx-tfm "
                            style="border-radius: 50px" data-toggle="modal" data-target="#inscription">Créer un compte</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal Inscription-->
<form method="post">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="card mt-3">
              <div id="inscription" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
              <div class="card-header bg-dark text-white">
                <h3>Création de compte</h3>
              </div>
              <div class="card-body">
                <!-- 				<div class="form-group"> -->
                <div class="btn-group">
                  <button type="button" class="btn btn-warning text-dark">Maître
                    d'ouvrage</button>
                  <button type="button" class="btn btn-dark text-white">Maître
                    d'oeuvre</button>
                  <button type="button" class="btn btn-warning text-dark">Prestataire</button>
                </div>
                <!-- 					<div class="custom-control custom-radio"> -->
                <!-- 						<input type="radio" class="custom-control-input" id="maitreOuvrage" name="maitreOuvrageRadio">  -->
                <!-- 							<label class="custom-control-label" for="maitreOuvrage">Maître d'ouvrage</label> -->
                <!-- 						<input type="radio" class="custom-control-input" id="maitreOeuvre" name="maitreOeuvreRadio">  -->
                <!-- 							<label class="custom-control-label" for="maitreOeuvre">Maître d'oeuvre</label> -->
                <!-- 						<input type="radio" class="custom-control-input" id="prestataire" name="prestataireRadio">  -->
                <!-- 							<label class="custom-control-label" for="prestataire">Prestataire</label> -->
                <!-- 					</div> -->
                <!-- 				</div> -->
                <div class="form-group">
                  <label for="nom">Nom:</label> <input type="text"
                                                       class="form-control" id="nom" name="nom" style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="prenom">Prénom:</label> <input type="text"
                                                             class="form-control" id="prenom" name="prenom" style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="mail">Email:</label> <input type="email"
                                                          class="form-control" id="mail" name="mail" style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="telephone">Téléphone:</label> <input type="text"
                                                                   class="form-control" id="telephone" name="telephone" style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="siret">Numéro de Siret:</label> <input type="number"
                                                                     class="form-control" id="siret" name="siret" style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="tva">Numéro de TVA:</label> <input type="number"
                                                                 class="form-control" id="tva" name="tva" style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="identifiant">Identifiant</label> <input type="text"
                                                                      class="form-control" id="identifiant" name="identifiant"
                                                                      style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="mdp">Mot de Passe</label> <input type="password"
                                                               class="form-control" id="mdp" name="mdp"
                                                               style="border-radius: 25px">
                </div>
                <div class="form-group">
                  <label for="mdpConfirmed">Confirmation du mot de passe</label> <input type="password"
                                                                                        class="form-control" id="mdpConfirmed" name="mdpConfirmed"
                                                                                        style="border-radius: 25px">
                </div>
              </div>
              <div class="card-footer">
                <div class="btn-group btn-group-lg float-right">
                  <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#inscription">
                    <i class="fa fa-check"></i>
                  </button>
                  <a class="btn btn-warning" data-toggle="modal" data-target="#inscription"> <i class="fa fa-undo"></i>
                  </a>
                </div>
              </div>

            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

