<body style="background-color: #F8F8F8">

<header *ngIf="router.url!='/'" >

  <!-- Affichage Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark text-white" style="display: none; z-index: 5" id="mySidebar">

    <!-- Affichage Menu avec bouton close dans la Sidebar -->
    <div class="rowMenu row border-bottom border-warning">
      <h1 class="m-auto">MENU</h1>
      <button class="btn w3-xxxlarge m-5 text-warning" (click)="w3_close()">&times;</button>
    </div>

    <!-- Affichage contenu (liens) de la Sidebar -->
    <a class="w3-bar-item btn btn-dark p-5" (click)="accueil()"> <i class="fas fa-home mr-4 text-warning"></i> Accueil </a>
    <a class="w3-bar-item btn btn-dark p-5"[routerLink]="['/gestionMaterielSalarie']" (click)="w3_close()"> <i class="fas fa-clipboard-list mr-4 text-warning"></i> Liste matériel et salariés </a>
    <a class="w3-bar-item btn btn-dark p-5"> <i class="fas fa-users mr-4 text-warning"></i> Réunions </a>
    <a class="w3-bar-item btn btn-dark p-5"> <i class="far fa-calendar-alt mr-4 text-warning"></i> Planning </a>
    <a class="w3-bar-item btn btn-dark p-5 text-danger" [routerLink]="['/']" (click)="w3_close(); deconnexion()"> <i class="fas fa-sign-out-alt mr-4 text-danger"></i> Déconnexion </a>
  </div>

  <!-- Affichage du bandeau en-tête -->
  <div id="main">
    <div class="row bg-dark text-white headerLayout border-bottom border-dark">
      <div class="my-auto ml-5 mr-4">
        <button id="openNav" class="btn btn-dark px-3 py-2 w3-xlarge border" (click)="w3_open()">&#9776;</button>
      </div>
      <div id="titre" class="my-auto col-sm-9">
        <h1 class="policeTitle">BUILD'OSER</h1>
      </div>
      <div class="m-auto">
        <button class="btn text-white policeTitle border-left" id="user" [routerLink]="['/profil']"><i class="fas fa-user mt-1"></i>
          <h6>{{user.societe.nom}}</h6>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="w3-overlay w3-animate-opacity" (click)="w3_close()" style="cursor: pointer" id="myOverlay"></div>

<router-outlet></router-outlet>

<footer *ngIf="router.url!='/'" >
  <nav class="navbar navbar-expand-md border-top border-warning p-4 text-white">
    <ul class="navbar-nav text-white m-auto">
      <li class="nav-item border-right border-warning px-5"><a href="#" class="nav-link colorLiensFooter">Qui sommes-nous ?</a></li>
      <li class="nav-item border-right border-warning px-5"><a href="#" class="nav-link colorLiensFooter">Partenaires</a></li>
      <li class="nav-item px-5"><a href="#" class="nav-link colorLiensFooter">Nous contacter</a></li>
    </ul>
  </nav>
</footer>
