.btn-lg {
  background-color: rgb(246, 194, 59);
}

.container-fluid {
  width: 1500px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.bandeau-accueil {
  background-color: rgb(52, 58, 64);
  color: white;
  text-align: center;
  margin-bottom: 75px;
}

.tabProjet {
  height: 300px;
  overflow: auto;
}

.tabAppel {
  height: 300px;
  overflow: auto;
}
