<div class="container-fluid">
  <div class="col">
    <div class="row">
      <div class="card col my-4 mx-4">
        <div class="card-header bg-white border-bottom border-warning">
          <h3 class="font-weight-bold mb-0 my-3">Sélection des entreprises</h3>
        </div>
        <div class="my-4">
          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Sélectionnez un prestataire</label>
<!--              <select class="form-control" id="exampleFormControlSelect1" *ngFor="let eg of list()">-->
<!--              <option>EG 1</option>-->
<!--              <option>EG 2</option>-->
<!--              <option>EG 3</option>-->
<!--              <option>EG 4</option>-->
<!--              <option>EG 5</option>-->
<!--            </select>-->
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="prestaEG.prestataire" name="prestataire">
                <option *ngFor="let eg of listEG()" [ngValue]="eg">{{eg.nom}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="descriptif">Motif de la
                consultation :</label>
              <input type="text" class="form-control" id="descriptif" rows="3" [(ngModel)]="prestaEG.nom" name="nom">
            </div>
            <button class="btn btn-block btn-warning tx-tfm" (click)="addToPrestaList()">Ajouter à la liste</button>
          </form>
        </div>
        <div>
          <table class="my-auto table">
            <thead class="thead-dark">
            <tr>
              <th class="text-center" style="width: 70%">Entreprise</th>
              <th class="text-center" style="width: 30%">Supprimer</th>
            </tr>
            </thead>
          </table>
        </div>
        <div>
          <table class="mx-auto table table-striped">
            <tbody>
            <tr *ngFor="let prestaEG of prestaList; let i = index">
              <td class="text-center" style="width: 70%">{{prestaEG.prestataire.nom}}</td>
              <td class="text-center" style="width: 30%" (click)="suppPrestaList(i)"><button
                class="btn btn-danger">
                <i class="fas fa-ban"></i>
              </button></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <br />
          <button class="btn btn-block btn-warning tx-tfm" (click)="addToOffre()">
            Envoyer la consultation aux destinataires<br /><i class="far fa-paper-plane"></i>
          </button>
        </div>
        <br />
      </div>
      <div class="card col my-4 mx-4">
        <div class="card-header bg-white border-bottom border-warning">
          <h3 class="font-weight-bold mb-0 my-3">Réponse des entreprises générales</h3>
        </div>
        <div class="my-4">
          <h5>Ces demandes de prestation sont en attente</h5>
        </div>
        <div class="my-1">
          <div>
            <table class="my-auto table">
              <thead class="thead-dark">
              <tr>
                <th class="text-center" style="width: 20%">Entreprise</th>
                <th class="text-center" style="width: 30%">Prestation</th>
                <th class="text-center" style="width: 10%">Prix</th>
                <th class="text-center" style="width: 20%">Ajouter</th>
                <th class="text-center" style="width: 20%">Supprimer</th>
              </tr>
              </thead>
            </table>
          </div>
          <div>
            <table class="mx-auto table table-striped">
              <tbody>
              <tr *ngFor="let presta of listPrestaValideeEG()">
                <td class="text-center" style="width: 20%">{{presta.prestataire.nom}}</td>
                <td class="text-center" style="width: 30%">{{presta.nom}}</td>
                <td class="text-center" style="width: 10%">{{presta.prix}} €</td>
                <td class="text-center" style="width: 20%"><button
                  class="btn btn-primary">
                  <i class="fas fa-plus-circle"></i>
                </button></td>
                <td class="text-center" style="width: 20%"><button
                  class="btn btn-danger">
                  <i class="fas fa-ban"></i>
                </button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col my-4 mx-4">
        <div class="card-header bg-white border-bottom border-warning">
          <h3 class="font-weight-bold mb-0 my-3">Construction de votre offre</h3>
        </div>
        <div class="my-4">
          <div>
            <table class="my-auto table">
              <thead class="thead-dark">
              <tr>
                <th class="text-center" style="width: 20%">Société</th>
                <th class="text-center" style="width: 35%">Prestation</th>
                <th class="text-center" style="width: 10%">Prix</th>
                <th class="text-center" style="width: 15%">Supprimer</th>
                <th class="text-center" style="width: 20%">Taux de marge</th>
              </tr>
              </thead>
            </table>
          </div>
          <div>
            <table class="mx-auto table table-striped">
              <tbody>
              <tr>
                <td class="text-center" style="width: 20%">Lidl</td>
                <td class="text-center" style="width: 35%">Fondations</td>
                <th class="text-center" style="width: 10%">250€</th>
                <td class="text-center" style="width: 15%"><button
                  class="btn btn-danger">
                  <i class="fas fa-ban"></i>
                </button></td>
                <th class="text-center" style="width: 20%">25%</th>
              </tr>
              <tr>
                <td class="text-center" style="width: 20%">Lidl</td>
                <td class="text-center" style="width: 35%">Fondations</td>
                <th class="text-center" style="width: 10%">250€</th>
                <td class="text-center" style="width: 15%"><button
                  class="btn btn-danger">
                  <i class="fas fa-ban"></i>
                </button></td>
                <th class="text-center" style="width: 20%">25%</th>
              </tr>
              <tr>
                <td class="text-center" style="width: 20%">Lidl</td>
                <td class="text-center" style="width: 35%">Fondations</td>
                <th class="text-center" style="width: 10%">250€</th>
                <td class="text-center" style="width: 15%"><button
                  class="btn btn-danger">
                  <i class="fas fa-ban"></i>
                </button></td>
                <th class="text-center" style="width: 20%">25%</th>
              </tr>
              <tr>
                <td class="text-center" style="width: 20%">Lidl</td>
                <td class="text-center" style="width: 35%">Fondations</td>
                <th class="text-center" style="width: 10%">250€</th>
                <td class="text-center" style="width: 15%"><button
                  class="btn btn-danger">
                  <i class="fas fa-ban"></i>
                </button></td>
                <th class="text-center" style="width: 20%">25%</th>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="5"><button
                  class="btn btn-block btn-primary tx-tfm">
                  Ajouter une ligne<br /> <i class="fas fa-plus"></i>
                </button></td>
              </tr>
              <tr>
                <td colspan="3">Prix Total HT</td>
                <td colspan="2">14 000€</td>
              <tr>
                <td colspan="3">Prix Total TTC</td>
                <td colspan="2">19 000€</td>
              </tr>
              </tfoot>
            </table>
          </div>
          <br />
          <button class="btn btn-block btn-warning tx-tfm">
            Valider et envoyer votre offre au maitre d'ouvrage<br /> <i
            class="fas fa-cart-plus"></i>
          </button>
        </div>
      </div>
      <div class="card col my-4 mx-4">
        <div class="card-header bg-white border-bottom border-warning">
          <h3 class="font-weight-bold mb-0 my-3">Calendar</h3>
        </div>
        <div class="row">
          <div class="ml-5 my-1">
            <div class="my-1">
              <form>
                <div class="card col my-4 mx-4">
                  <div class="card-header bg-white border-bottom border-warning">
                    <h3>Prestation</h3>
                  </div>
                  <div class="form-group my-3">
                    <label for="exampleFormControlSelect1">Sélectionnez
                      une EG</label> <select class="form-control"
                                             id="exampleFormControlSelect">
                    <option>Presta 1</option>
                    <option>Presta 2</option>
                    <option>Presta 3</option>
                    <option>Presta 4</option>
                    <option>Presta 5</option>
                  </select>
                  </div>
                  <div class="form-group">
                    <label for="descriptif">Date de Début :</label>
                    <input type="date">
                  </div>
                  <div class="form-group">
                    <label for="descriptif">Date de Début :</label>
                    <input type="date">
                  </div>
                </div>
              </form>
              <br/>
            </div>
            <div class="my-1">
              <form>
                <div class="card col my-4 mx-4">
                  <div class="card-header bg-white border-bottom border-warning">
                    <h3>Projet</h3>
                  </div>
                  <div class="form-group my-3">
                    <label for="descriptif">Date de Début : </label>
                    <input type="date">
                  </div>
                  <div class="form-group">
                    <label for="descriptif">Date de Début : </label>
                    <input type="date">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="ml-5 my-1">
            <i class="far fa-9x fa-calendar-alt"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
