<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -->
<!--ACCUEIL ENTREPRISE GENERALE-->

<div>
  <h1 class="font-weight-bold my-5" style="text-align: center;">Accueil</h1>
</div>
<!-- 	Projets en Cours -->
<div class="row">
  <div class="card col mt-3 shadow my-4 ml-5 mr-3">
    <div class="card-header bg-white border-bottom border-warning"
         style="margin-left: 80px; margin-right: 80px;">
      <h3 class="font-weight-bold mb-0 my-3">Projets en cours</h3>
    </div>
<div>
  <input class="form-control mt-4" type="text"
         placeholder="Chercher un projet..." id="projetSearch"(keyup)="rechercheProj()"
         style="margin: 10px; width: 300px">
</div>
    <div class="card-body">
      <table class="my-auto table">
        <thead class="thead-dark">
        <tr>
          <th style="width: 30%">Nom</th>
          <th style="width: 28.5%">Lieu</th>
          <th style="width: 30%">Maitre d'oeuvre</th>
          <th style="width: 11.5%">Détails</th>
        </tr>
        </thead>
      </table>
      <div class="tabProjet">
        <table id="tab" class="table table-striped" id="projetTable">
          <tbody>
          <tr *ngFor="let proj of projets">
            <td style="width: 30%">{{proj.offre.appelOffre.nom}}</td>
            <td style="width: 30%">{{proj.offre.appelOffre.adresse.ville}}</td>
            <td style="width: 30%">{{proj.offre.maitreOeuvre.nom}}</td>
            <td style="width: 10%"><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>Talence</td>
            <td>M. Martin</td>
            <td><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>Talence</td>
            <td>M. Martin</td>
            <td><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>Talence</td>
            <td>M. Martin</td>
            <td><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>Talence</td>
            <td>M. Martin</td>
            <td><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>Talence</td>
            <td>M. Martin</td>
            <td><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>Talence</td>
            <td>M. Martin</td>
            <td><div class="btn-group ml-3">
              <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
            </div></td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <!-- 		Appels offres en attentes -->

  <div class="container-fluid card col mt-3 shadow my-4 mr-5">
    <div class="card-header bg-white border-bottom border-warning"
         style="margin-left: 80px; margin-right: 80px;">
      <h3 class="font-weight-bold mb-0 my-3">Consultations par
        Maitre d'Oeuvre</h3>
    </div>
  <div>
    <input class="form-control mt-4" type="text"
           placeholder="Chercher une consultation..." id="consultSearch"(keyup)="rechercheConsult()"
           style="margin: 10px; width: 300px">
  </div>
    <div class="card-body">
      <table class="my-auto table" >
        <thead class="thead-dark">
        <tr>
          <th style="width: 29%">Nom</th>
          <th style="width: 29.5%">Catégorie</th>
          <th style="width: 24%">Lieu</th>
          <th style="width: 18.5%">Répondre</th>
        </tr>
        </thead>
      </table>
      <div class="tabAppel">
        <table class="table table-striped" id="consultTable">
          <tbody>
          <tr *ngFor="let presta of prestations">
            <td style="width: 26%">{{presta.nom}}</td>
            <td style="width: 30%">{{presta.categorie}}</td>
            <td style="width: 24%">{{presta.offre.appelOffre.adresse.ville}}</td>
            <td style="width: 18%"><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td style="width: 30%">Mairie Talence</td>
            <td style="width: 30%">CVC</td>
            <td style="width: 25%">Talence</td>
            <td style="width: 15%"><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>
          <tr>
            <td>Mairie Talence</td>
            <td>CVC</td>
            <td>Talence</td>
            <td><div class="btn-group ml-4">
              <a class="btn btn-sm btn-lg"><i class="fas fa-plus"></i></a>
            </div></td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
