<div class="container-fluid" style="background-color: #F8F8F8">

  <div class="content-wrapper">
    <div class="row" id="ligne">

      <div class="col-md-12 grid-margin">
        <div>
          <h4 class="font-weight-bold mb-0" style="text-align: center;">
            {{projet.offre.appelOffre?.nom| titlecase}}</h4>
        </div>
      </div>

    </div>
    <div class="row" id="ligne">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="height: 150px;">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Numéro de
              Devis</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0" >{{projet.numeroDevis}}</h3>
              <i class="fa fa-tag "
                 style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="height: 150px;">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Date de
              démarrage</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{projet.dtDebut|date:'dd/MM/yyyy'}}</h3>
              <i class="fas fa-calendar-check " style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="height: 150px;">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Date de fin
              de projet</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{projet.dtFin|date:'dd/MM/yyyy'}}</h3>
              <i class="fas fa-calendar-check " style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>
   <!--   <div class="col-md-3 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Factures</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">4</h3>
              <i class="far fa-file " style="font-size: 32px"></i>
            </div>
          </div>
        </div>
      </div>-->

    </div>

  </div>


    <div class="content-wrapper">

      <div class="row" id="ligne">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Prestation</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 20%">Nom</th>
                    <th style="width: 20%">Entreprise</th>
                    <th style="width: 8%">Date de début</th>
                    <th style="width: 40%" class="text-center">Date de fin</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="tabProjet" id="projetTable">
                <table class="table table-striped">
                  <tbody >
                  <tr  *ngFor="let prestation of prestationref">
                    <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 19%">{{prestation.nom}}</td>
                    <td *ngIf="prestation.phasePresta=='ValideMOeuvre'"  style="width: 19%">{{prestation.prestataire.nom}}</td>
                    <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 22%">{{prestation.dtDebut|date:'dd/MM/yyyy'}}</td>
                    <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 22%">{{prestation.dtFin|date:'dd/MM/yyyy'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

    </div>


    <div class="content-wrapper">


      <div class="row" id="ligne">

        <div class="col-md-6 grid-margin stretch-card">

          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 500px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Action en cours</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 31%">Action</th>
                    <th style="width: 20%">Entreprise</th>

                  </tr>
                  </thead>
                </table>
              </div>
              <div class="tabProjet" >
                <table class="table table-striped" id="projetTable">
                  <tbody >
                  <tr   *ngFor="let action of actionref">
                    <td *ngIf="action.effectuee == false" style="width: 30%">
                      <label>  {{action.nomAction}}
                      </label>
                    </td >
                    <td *ngIf="action.effectuee == false && action.prestataire!=null" style="width: 19%">{{action.prestataire?.nom}}</td>
                    <td (click)="editAction(action.id)" *ngIf="action.effectuee == false && action.prestataire==null" style="width: 19%"><button class="btn text-warning border border-warning">Non défini</button></td>



                  </tr>
                  </tbody>
                </table>
              </div>
              <div style="display: flex; margin-bottom: 5%"></div>
              <div class="add-items d-flex mb-0 mt-4" *ngIf="currentAction">
                <select class="form-control" id="prestataire" [(ngModel)]="currentAction.prestataire.id">
                  <option value="">Affecter une entreprise aux tâches selectionnées</option>
                  <option *ngFor="let prestataire of prestataires" [value]="prestataire.id">{{prestataire.id}} - {{prestataire.nom}}</option>
                </select>
                <button (click)="saveAction()"
                  class="add btn btn-icon text-warning todo-list-add-btn bg-transparent">
                  <i class="fa fa-check"></i>
                </button>
              </div>


          </div>
          </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 500px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Action terminée</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 18%">Action</th>
                    <th style="width: 15%">Entreprise</th>
                    <th style="width: 20%">Voir détail/Supprimer</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTablePrestations">
                <table class="table table-striped">
                  <tbody >
                  <tr  *ngFor="let action of actionref" >
                    <td *ngIf="action.effectuee==true" style="width: 30%">
                      <label>  {{action.nomAction}}
                      </label>
                    </td>
                    <td *ngIf="action.effectuee==true" style="width: 30%">
                      <label>  {{action.prestataire?.nom}}
                      </label>
                    </td>
                    <td *ngIf="action.effectuee==true" style="width: 19%"><button class="btn text-warning border border-warning"
                                                   [routerLink]="['/action/'+ action.id]">
                      Voir détail
                    </button></td>
                    <td  *ngIf="action.effectuee==true" style="width: 19%"> <button class="btn text-danger border border-danger">
                      <i class="fas fa-trash-alt" (click)="deleteAction(action.id)"></i>
                    </button></td>


                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="content-wrapper">
        <div class="row" id="ligne">

          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Réunion planifiée</h3>

              </div>
              <div class="card-body">
                <div>
                  <table class="my-auto table">
                    <thead class="thead-dark">
                    <tr>
                      <th style="width: 20%">Réunion</th>
                      <th style="width: 20%">Date</th>
                      <th style="width: 20%"></th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="scrollTablePrestations">
                  <table class="table table-striped">
                    <tbody >
                    <tr  *ngFor="let reunion of reunionrefplanifie">
                      <td style="width: 30%">
                        <label>  {{reunion.sujet}}
                        </label>
                      </td>

                      <td >{{reunion.dtReunion |date:'dd/MM/yyyy'}}</td>

                    </tr>
                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Réunion terminée</h3>

              </div>
              <div class="card-body">
                <div>
                  <table class="my-auto table">
                    <thead class="thead-dark">
                    <tr>
                      <th style="width: 20%">Réunion</th>
                      <th style="width: 20%">Date</th>
                      <th style="width: 20%"></th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="scrollTablePrestations">
                  <table class="table table-striped">
                    <tbody>
                    <tr  *ngFor="let reunion of reunionrefeffectue"  >
                      <td style="width: 30%">
                        <label>  {{reunion.sujet}}
                        </label>
                      </td>

                      <td >{{reunion.dtReunion |date:'dd/MM/yyyy'}}</td>

                    </tr>
                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>

   <!--   <div class="content-wrapper">
        <div class="row" id="ligne">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Facture fournisseur en attente
                  de validation</h3>

              </div>
              <div class="card-body">
                <div class="card-body">
                  <div>
                    <table class="my-auto table">
                      <thead class="thead-dark">
                      <tr>
                        <th style="width: 18%">Nom facture</th>
                        <th style="width: 18%">Entreprise</th>
                        <th style="width: 20%">Numero facture</th>
                        <th style="width: 20%"></th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="scrollTablePrestations">
                    <table class="table table-striped">
                      <tbody *ngFor="let facture of factureref">
                      <tr  *ngIf="facture.payee==false && facture.factureMOEMO==false" >
                        <td style="width: 30%">
                          <label>  {{facture.nomFacture}}
                          </label>
                        </td>
                        <td style="width: 30%">
                          <label>  {{facture.prestataire?.nom}}
                          </label>
                        </td>
                        <td style="width: 30%">
                          <label>  {{facture.numeroFacture}}
                          </label>
                        </td>

                        <td style="width: 19%"><button (click)="validerFacture(facture.id)" class="btn text-warning border border-warning">
                          Valider
                        </button></td>
                        <td  style="width: 19%"> <button class="btn text-danger border border-danger">
                          <i class="fas fa-trash-alt" (click)="deleteFacture(facture.id)"></i>
                        </button></td>


                      </tr>
                      </tbody>
                    </table>
                  </div>


              </div>
            </div>

          </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Facture fournisseur validée</h3>

              </div>
              <div class="card-body">
                <div>
                  <table class="my-auto table">
                    <thead class="thead-dark">
                    <tr>
                      <th style="width: 30%">Nom facture</th>
                      <th style="width: 25%">Entreprise</th>
                      <th style="width: 20%">Numero facture</th>
                      <th style="width: 15%"></th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="scrollTablePrestations">
                  <table class="table table-striped">
                    <tbody *ngFor="let facture of factureref">
                    <tr  *ngIf="facture.payee==true && facture.factureMOEMO==false" >
                      <td style="width: 30%">
                        <label>  {{facture.nomFacture}}
                        </label>
                      </td>
                      <td style="width: 30%">
                        <label>  {{facture.prestataire?.nom}}
                        </label>
                      </td>
                      <td style="width: 30%">
                        <label>  {{facture.numeroFacture}}
                        </label>
                      </td>


                    </tr>
                    </tbody>
                  </table>
                </div>


              </div>
            </div>

          </div>
        </div>

      </div>

    </div>



    <div class="content-wrapper">
      <div class="row" id="ligne">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 500px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Demandes de facturation émises</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 30%">Nom facture</th>
                    <th style="width: 25%">Maitre d'ouvrage</th>
                    <th style="width: 20%">Numero facture</th>
                    <th style="width: 15%"></th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTablePrestations">
                <table class="table table-striped">
                  <tbody *ngFor="let facture of factureref">
                  <tr  *ngIf="facture.payee==false && facture.factureMOEMO==true" >
                    <td style="width: 30%">
                      <label>  {{facture.nomFacture}}
                      </label>
                    </td>
                    <td style="width: 30%">
                      <label>  {{facture.maitreOuvrage?.nom}}
                      </label>
                    </td>
                    <td style="width: 30%">
                      <label>  {{facture.numeroFacture}}
                      </label>
                    </td>


                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="add-items d-flex mb-0 mt-4">
                <button [routerLink]="['/facture']" routerLinkActive="active" class="btn text-warning border border-warning my-3 "
                        style="margin-right: 30px">
                  <b >Emettre une nouvelle demande de facturation</b>
                </button>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 500px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Demandes de facturation validées</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 35%">Nom facture</th>
                    <th style="width: 25%">Maitre d'ouvrage</th>
                    <th style="width: 20%">Numero facture</th>
                    <th style="width: 15%"></th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTablePrestations">
                <table class="table table-striped">
                  <tbody *ngFor="let facture of factureref">
                  <tr  *ngIf="facture.payee==true && facture.factureMOEMO==true" >
                    <td style="width: 30%">
                      <label>  {{facture.nomFacture}}
                      </label>
                    </td>
                    <td style="width: 30%">
                      <label>  {{facture.maitreOuvrage?.nom}}
                      </label>
                    </td>
                    <td style="width: 30%">
                      <label>  {{facture.numeroFacture}}
                      </label>
                    </td>


                  </tr>
                  </tbody>
                </table>
              </div>



            </div>
          </div>

        </div>
      </div>

    </div>

</div>-->




