<div class="container-fluid">

  <div class="content-wrapper">
    <div class="row" id="ligne">
      <div class="col-md-1 grid-margin">
        <i class="fas fa-arrow-left " style="font-size: 32px"></i>
      </div>
      <div class="col-md-10 grid-margin">
        <div>
          <h4 class="font-weight-bold mb-0" style="text-align: center;">
           {{projet.offre.appelOffre?.nom}}</h4>
        </div>
      </div>
      <div class="col-md-1 grid-margin">
        <i class="fas fa-arrow-right "
           style="font-size: 32px; margin-left: 60px;"></i>
      </div>
    </div>

    <div class="row" id="ligne">
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Numéro de
              Devis</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0" >{{projet.numeroDevis}}</h3>
              <i class="fa fa-tag "
                 style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Date de
              démarrage</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{projet.dtDebut|date:'dd/MM/yyyy'}}</h3>
              <i class="fas fa-calendar-day " style="font-size: 32px"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Date de fin
              de projet</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{projet.dtFin|date:'dd/MM/yyyy'}}</h3>
              <i class="fas fa-calendar-check " style="font-size: 32px"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Factures</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">4</h3>
              <i class="far fa-file " style="font-size: 32px"></i>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


    <div class="content-wrapper">

      <div class="row" id="ligne">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Prestation</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 20%">Nom</th>
                    <th style="width: 20%">Entreprise</th>
                    <th style="width: 20%">Date de début</th>
                    <th style="width: 35%" class="text-center">Date de fin</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTablePrestations">
                <table class="table table-striped">
                  <tbody *ngFor="let prestation of prestationref">
                  <tr    *ngIf="prestation.phasePresta=='ValideMOeuvre'">
                    <td style="width: 19%">{{prestation.nom}}</td>
                    <td style="width: 19%">{{prestation.prestataire.nom}}</td>
                    <td style="width: 22%">{{prestation.dtDebut|date:'dd/MM/yyyy'}}</td>
                    <td style="width: 22%">{{prestation.dtFin|date:'dd/MM/yyyy'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Calendrier</h3>

            </div>
            <div class="card-body">
              <p class="card-title text-md-center text-xl-left">Calendrier</p>

              <!-- 							Calendrier -->


              <!--   Calendrier -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="content-wrapper">


      <div class="row" id="ligne">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 500px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Action en cours</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 30%">Action</th>
                    <th style="width: 20%">Entreprise</th>
                    <th style="width: 20%"></th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTablePrestations">
                <table class="table table-striped">
                  <tbody *ngFor="let action of actionref">
                  <tr  *ngIf="action.effectuee == false">
                    <td style="width: 30%">		<div class="form-check form-check-flat">
                      <label class="form-check-label"> <input
                        class="checkbox" type="checkbox"> {{action.nomAction}}
                      </label>
                    </div></td>
                    <td *ngIf="action.prestataire.nom!=null" style="width: 19%">{{action.prestataire.nom}}</td>
                    <td *ngIf="action.prestataire.nom==null" style="width: 19%">Non défini</td>
                    <td *ngIf="action.prestataire.nom==null" style="width: 19%"><span style="font-size: 32px; color: rgb(220, 53, 69)"><i class="fas fa-times"></i></span></td>
                    <td *ngIf="action.prestataire.nom!=null" style="width: 19%"><span style="font-size: 32px; color: rgb(255, 193, 7)"><i class="fas fa-check"></i></span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div style="display: flex; margin-bottom: 5%"></div>
              <div class="add-items d-flex mb-0 mt-4">
                <input type="text" class="form-control todo-list-input mr-2"
                       placeholder="Affecter une entreprise générale aux tâches sélectionnées">
                <button
                  class="add btn btn-icon text-warning todo-list-add-btn bg-transparent">
                  <i class="fa fa-check"></i>
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 500px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Action terminée</h3>

            </div>
            <div class="card-body">

              <div class="list-wrapper pt-2">
                <ul *ngFor="let action of actionref"
                  class="d-flex flex-column-reverse todo-list todo-list-custom"
                  style="height: 200px; overflow-x: hidden; overflow-y: scroll;">
                  <li *ngIf="action.effectuee==true" style="display: flex; margin-bottom: 2%; margin-right: 2%">
                    <div >
                      <label >  {{action.nomAction}}
                      </label>
                    </div>
                    <div style="margin-left: auto">
                      <button class="btn text-warning border border-warning"
                      >
                        Voir détail
                      </button>
                      <button class="btn text-danger border border-danger">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-wrapper">
        <div class="row" id="ligne">

          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Réunion en cours</h3>

              </div>
              <div class="card-body">

                <div class="list-wrapper pt-2">
                  <ul
                    class="d-flex flex-column-reverse todo-list todo-list-custom"
                    style="height: 200px; overflow-x: hidden; overflow-y: scroll;">
                    <li style="display: flex; margin-bottom: 2%; margin-right: 2%">
                      <div class="form-check form-check-flat">
                        <label >  Réunion du
                          12/08/2020
                        </label>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Réunion terminée</h3>

              </div>
              <div class="card-body">

                <div class="list-wrapper pt-2">
                  <ul
                    class="d-flex flex-column-reverse todo-list todo-list-custom"
                    style="height: 200px; overflow-x: hidden; overflow-y: scroll;">
                    <li style="display: flex; margin-bottom: 2%; margin-right: 2%">
                      <div >
                        <label >  Réunion du
                          12/05/2020
                        </label>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="content-wrapper">
        <div class="row" id="ligne">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Facture fournisseur en attente
                  de validation</h3>

              </div>
              <div class="card-body">

                <div class="list-wrapper pt-2">
                  <ul
                    class="d-flex flex-column-reverse todo-list todo-list-custom"
                    style="height: 150px; overflow-x: hidden; overflow-y: scroll;">
                    <li style="display: flex; margin-bottom: 2%; margin-right: 2%">
                      <div class="form-check form-check-flat">
                        <label class="form-check-label"> <input
                          class="checkbox" type="checkbox"> Facture
                          prestation Michel TP location compacteur
                        </label>
                      </div>

                    </li>
                    <li class="completed"
                        style="display: flex; margin-bottom: 2%; margin-right: 2%">
                      <div class="form-check form-check-flat">
                        <label class="form-check-label"> <input
                          class="checkbox" type="checkbox" checked> Facture
                          prestation Bob le bricoleur interim manoeuvre
                        </label>
                      </div>

                    </li>

                  </ul>
                </div>

                <div class="add-items d-flex mb-0 mt-4">
                  <button class="btn text-warning border border-warning my-3 "
                          style="margin-right: 30px">
                    <b>Valider les factures selectionnées</b>
                  </button>
                  <button class="btn text-danger border border-danger my-3 ">
                    <b>Refuser les factures selectionnées</b>
                  </button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                 style="height: 400px;">
              <div class="card-header bg-white border-bottom border-warning"
                   style="display: flex">
                <h3 class="font-weight-bold mb-0 my-3">Facture fournisseur validée</h3>

              </div>
              <div class="card-body">

                <div class="list-wrapper pt-2">
                  <ul
                    class="d-flex flex-column-reverse todo-list todo-list-custom"
                    style="height: 150px; overflow-x: hidden; overflow-y: scroll;">
                    <li style="display: flex; margin-bottom: 2%; margin-right: 2%">
                      <div class="form-check form-check-flat">
                        <label class="form-check-label"> <input
                          class="checkbox" type="checkbox"> Facture
                          prestation Michel TP location bulldozer
                        </label>
                      </div>

                    </li>
                    <li class="completed"
                        style="display: flex; margin-bottom: 2%; margin-right: 2%">
                      <div class="form-check form-check-flat">
                        <label class="form-check-label"> <input
                          class="checkbox" type="checkbox" checked> Facture
                          prestation Michel TP evacuation déchets industriels banals
                        </label>
                      </div>

                    </li>

                  </ul>
                </div>


              </div>
            </div>

          </div>
        </div>

      </div>

    </div>



    <div class="content-wrapper">
      <div class="row" id="ligne">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Demandes de facturation émises</h3>

            </div>
            <div class="card-body">

              <div class="list-wrapper pt-2">
                <ul
                  class="d-flex flex-column-reverse todo-list todo-list-custom"
                  style="height: 150px; overflow-x: hidden; overflow-y: scroll;">
                  <li style="display: flex; margin-bottom: 2%; margin-right: 2%">
                    <div class="form-check form-check-flat">
                      <label class="form-check-label"> <input
                        class="checkbox" type="checkbox"> Facture
                        prestation S13
                      </label>
                    </div>

                  </li>
                  <li class="completed"
                      style="display: flex; margin-bottom: 2%; margin-right: 2%">
                    <div class="form-check form-check-flat">
                      <label class="form-check-label"> <input
                        class="checkbox" type="checkbox" checked> Facture
                        prestation S14
                      </label>
                    </div>

                  </li>

                </ul>
              </div>
              <div class="add-items d-flex mb-0 mt-4">
                <button class="btn text-warning border border-warning my-3 "
                        style="margin-right: 30px">
                  <b>Emettre une nouvelle demande de facturation</b>
                </button>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Demandes de facturation validées</h3>

            </div>
            <div class="card-body">

              <div class="list-wrapper pt-2">
                <ul
                  class="d-flex flex-column-reverse todo-list todo-list-custom"
                  style="height: 150px; overflow-x: hidden; overflow-y: scroll;">
                  <li style="display: flex; margin-bottom: 2%; margin-right: 2%">
                    <div class="form-check form-check-flat">
                      <label class="form-check-label"> <input
                        class="checkbox" type="checkbox"> Facture
                        prestation S11
                      </label>
                    </div>

                  </li>
                  <li class="completed"
                      style="display: flex; margin-bottom: 2%; margin-right: 2%">
                    <div class="form-check form-check-flat">
                      <label class="form-check-label"> <input
                        class="checkbox" type="checkbox" checked> Facture
                        prestation S12
                      </label>
                    </div>

                  </li>

                </ul>
              </div>


            </div>
          </div>

        </div>
      </div>

    </div>



    <div class="content-wrapper"></div>



    <div class="row" id="ligne">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded"
             style="height: 450px;">
          <div class="card-header bg-white border-bottom border-warning"
               style="display: flex">
            <h3 class="font-weight-bold mb-0 my-3">Document relatif au
              projet</h3>

          </div>
          <div class="card-body">

            <div >

              <label class="btn text-warning border border-warning my-3"><b>Ajouter un document</b>
                <input  class="customInput" type="file" style="display:none" />
              </label>
              <label  id="nomFichier"></label>
            </div>

            <form>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="text" style="max-height: 150px"></textarea>
              </div>
              <button type="submit"
                      class="btn text-warning border border-warning my-3 ">
                <b>Soumettre</b>
              </button>
            </form>



          </div>

        </div>
      </div>
    </div>
</div>




<!-- 	Ajouter un fichier : maj nom fichier -->
<script>
  $(".customInput").on(
    "change",
    function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected")
        .html(fileName);
      $("#nomFichier").empty();
      $("#nomFichier").append(fileName);
    });
</script>
<!-- 	Ajouter un fichier : maj nom fichier -->

<!--<div class="container-fluid">-->
<!--  <div class="row mx-auto">-->
<!--    <div class="col-md-1 grid-margin">-->
<!--      <i class="fas fa-arrow-left " style="font-size: 32px"></i>-->
<!--    </div>-->
<!--    <div class="col-md-10 grid-margin">-->
<!--      <div>-->
<!--        <h2 class="font-weight-bold mb-0" style="text-align: center;">Projet Mairie St Médard</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mx-auto"  style="width:1500px">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row" style="display: flex">-->
<!--          <h3 class="font-weight-bold mb-0">Prestation en cours : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-body border-bottom border-grey">-->
<!--        <div class="row">-->
<!--          <i class="fas fa-calendar-day " style="font-size: 32px; color: rgb(246, 194, 59)"></i>-->
<!--          <p class="pr-2"><h4>Date de fin : </h4></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p><h4>Employés affectés : </h4></p>-->
<!--      <table class="my-auto table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th style="width: 19%">Nom</th>-->
<!--          <th style="width: 18%">Prénom</th>-->
<!--          <th style="width: 22%">Métier</th>-->
<!--          <th style="width: 11%" class="text-center">Détails</th>-->
<!--          <th style="width: 15%" class="text-center">Modifier</th>-->
<!--          <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--      <div class="scrollTableEmploye">-->
<!--        <table class="table table-striped">-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td style="width: 19%">Dupont</td>-->
<!--            <td style="width: 19%">Jean</td>-->
<!--            <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--            <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--            <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--            <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Dupont</td>-->
<!--            <td>Jean</td>-->
<!--            <td>Plombier Chauffagiste</td>-->
<!--            <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--            <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--            <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-auto"  style="width:1500px">-->
<!--      <div class="card col shadow my-4 ml-5 mr-4">-->
<!--        <div class="card-header bg-white border-bottom border-warning">-->
<!--          <div class="row">-->
<!--            <h3 class="font-weight-bold mb-0">Prestation planifiée : </h3>-->
<!--            <div class="pt-2 ml-auto">-->
<!--              <select class="form-control col">-->
<!--                <option>Sélectionnez</option>-->
<!--                <option>Install. Clim</option>-->
<!--                <option>Isolation</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="row border-bottom border-grey">-->
<!--            <i class="fas fa-calendar-day " style="font-size: 32px; color: rgb(246, 194, 59)"></i>-->
<!--            <p class="pr-2"><h4>Prévue le : </h4></p>-->
<!--          </div>-->
<!--          <div class="row border-bottom border-grey">-->
<!--            <p class="pr-1 "><h4>Durée : </h4></p>-->
<!--          </div>-->
<!--          <div class="row border-bottom border-grey">-->
<!--            <p class="pr-1"><h4>Employés : </h4></p>-->
<!--            <div class="pt-1 pl-2">-->
<!--              <select class="form-control col">-->
<!--                <option>Sélectionnez</option>-->
<!--                <option>Jean Dupont</option>-->
<!--                <option>José Dubois</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <button type="button" class="btn btn-primary ml-auto">Affecter</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p><h4>Employés affectés : </h4></p>-->
<!--        <table class="my-auto table">-->
<!--          <thead class="thead-dark">-->
<!--          <tr>-->
<!--            <th style="width: 19%">Nom</th>-->
<!--            <th style="width: 18%">Prénom</th>-->
<!--            <th style="width: 22%">Métier</th>-->
<!--            <th style="width: 11%" class="text-center">Détails</th>-->
<!--            <th style="width: 15%" class="text-center">Modifier</th>-->
<!--            <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--        </table>-->
<!--        <div class="scrollTableEmploye">-->
<!--          <table class="table table-striped">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td style="width: 19%">Dupont</td>-->
<!--              <td style="width: 19%">Jean</td>-->
<!--              <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--              <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Dupont</td>-->
<!--              <td>Jean</td>-->
<!--              <td>Plombier Chauffagiste</td>-->
<!--              <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="pb-3 pl-2">-->
<!--          <button type="button" class="btn btn-primary">Valider</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row mx-auto"  style="width:1500px">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Prestation terminée : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <div class="row border-bottom border-grey">-->
<!--          <i class="fas fa-calendar-day " style="font-size: 32px; color: rgb(246, 194, 59)"></i>-->
<!--          <p class="pr-2"><h4>Date de fin : </h4></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p><h4>Employés affectés : </h4></p>-->
<!--      <table class="my-auto table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th style="width: 19%">Nom</th>-->
<!--          <th style="width: 18%">Prénom</th>-->
<!--          <th style="width: 22%">Métier</th>-->
<!--          <th style="width: 11%" class="text-center">Détails</th>-->
<!--          <th style="width: 15%" class="text-center">Modifier</th>-->
<!--          <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--      <div class="scrollTableEmploye">-->
<!--        <table class="table table-striped">-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td style="width: 19%">Dupont</td>-->
<!--            <td style="width: 19%">Jean</td>-->
<!--            <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--            <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--            <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--            <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Dupont</td>-->
<!--            <td>Jean</td>-->
<!--            <td>Plombier Chauffagiste</td>-->
<!--            <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--            <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--            <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row mx-auto"  style="width:1500px">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Actions traitées : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <p><h4>Employés affectés : </h4></p>-->
<!--        <table class="my-auto table">-->
<!--          <thead class="thead-dark">-->
<!--          <tr>-->
<!--            <th style="width: 19%">Nom</th>-->
<!--            <th style="width: 18%">Prénom</th>-->
<!--            <th style="width: 22%">Métier</th>-->
<!--            <th style="width: 11%" class="text-center">Détails</th>-->
<!--            <th style="width: 15%" class="text-center">Modifier</th>-->
<!--            <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--        </table>-->
<!--        <div class="scrollTableEmploye">-->
<!--          <table class="table table-striped">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td style="width: 19%">Dupont</td>-->
<!--              <td style="width: 19%">Jean</td>-->
<!--              <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--              <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Dupont</td>-->
<!--              <td>Jean</td>-->
<!--              <td>Plombier Chauffagiste</td>-->
<!--              <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Actions demandées : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <div class="row border-bottom border-grey">-->
<!--          <p><h4>Employés : </h4></p>-->
<!--          <div class="pt-1 pl-2">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Jean Dupont</option>-->
<!--              <option>José Dubois</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-primary ml-auto">Affecter</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <p><h4>Employés affectés : </h4></p>-->
<!--        <table class="my-auto table">-->
<!--          <thead class="thead-dark">-->
<!--          <tr>-->
<!--            <th style="width: 19%">Nom</th>-->
<!--            <th style="width: 18%">Prénom</th>-->
<!--            <th style="width: 22%">Métier</th>-->
<!--            <th style="width: 11%" class="text-center">Détails</th>-->
<!--            <th style="width: 15%" class="text-center">Modifier</th>-->
<!--            <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--        </table>-->
<!--        <div class="scrollTableEmploye">-->
<!--          <table class="table table-striped">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td style="width: 19%">Dupont</td>-->
<!--              <td style="width: 19%">Jean</td>-->
<!--              <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--              <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Dupont</td>-->
<!--              <td>Jean</td>-->
<!--              <td>Plombier Chauffagiste</td>-->
<!--              <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="pb-3 pl-2">-->
<!--          <button class="btn btn-primary">Valider</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row mx-auto"  style="width:1500px">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Factures émises : </h3>-->
<!--          <div class="pt-2 pl-2">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <button class="btn btn-primary ml-auto">Créer et envoyer une facture</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Factures validées : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="mx-auto pl-4" style="width:1455px">-->
<!--    <div class="card shadow p-3 mb-5 bg-white rounded">-->
<!--      <div class="card-body">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Documents relatifs :</h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <label class="btn btn-primary"><b>Ajouter un document</b>-->
<!--              <input  class="customInput" type="file" style="display:none" />-->
<!--            </label>-->
<!--            <label  id="nomFichier"></label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--  <div class="row mx-auto">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Prestation terminée : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <div class="row border-bottom border-grey">-->
<!--          <i class="fas fa-calendar-day " style="font-size: 32px; color: rgb(246, 194, 59)"></i>-->
<!--          <p class="pr-2"><h4>Date de fin : </h4><p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p><h4>Employés affectés : </h4><p>-->
<!--      <table class="my-auto table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th style="width: 19%">Nom</th>-->
<!--          <th style="width: 18%">Prénom</th>-->
<!--          <th style="width: 22%">Métier</th>-->
<!--          <th style="width: 11%" class="text-center">Détails</th>-->
<!--          <th style="width: 15%" class="text-center">Modifier</th>-->
<!--          <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--      <div class="scrollTableEmploye">-->
<!--        <table class="table table-striped">-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td style="width: 19%">Dupont</td>-->
<!--            <td style="width: 19%">Jean</td>-->
<!--            <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--            <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--            <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--            <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Dupont</td>-->
<!--            <td>Jean</td>-->
<!--            <td>Plombier Chauffagiste</td>-->
<!--            <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--            <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--            <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row mx-auto">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Actions traitées : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <p><h4>Employés affectés : </h4><p>-->
<!--        <table class="my-auto table">-->
<!--          <thead class="thead-dark">-->
<!--          <tr>-->
<!--            <th style="width: 19%">Nom</th>-->
<!--            <th style="width: 18%">Prénom</th>-->
<!--            <th style="width: 22%">Métier</th>-->
<!--            <th style="width: 11%" class="text-center">Détails</th>-->
<!--            <th style="width: 15%" class="text-center">Modifier</th>-->
<!--            <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--        </table>-->
<!--        <div class="scrollTableEmploye">-->
<!--          <table class="table table-striped">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td style="width: 19%">Dupont</td>-->
<!--              <td style="width: 19%">Jean</td>-->
<!--              <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--              <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Dupont</td>-->
<!--              <td>Jean</td>-->
<!--              <td>Plombier Chauffagiste</td>-->
<!--              <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white border-bottom border-warning">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Actions demandées : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <div class="row border-bottom border-grey">-->
<!--          <p><h4>Employés : </h4><p>-->
<!--          <div class="pt-1 pl-2">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Jean Dupont</option>-->
<!--              <option>José Dubois</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-warning ml-auto">Affecter</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <p><h4>Employés affectés : </h4><p>-->
<!--        <table class="my-auto table">-->
<!--          <thead class="thead-dark">-->
<!--          <tr>-->
<!--            <th style="width: 19%">Nom</th>-->
<!--            <th style="width: 18%">Prénom</th>-->
<!--            <th style="width: 22%">Métier</th>-->
<!--            <th style="width: 11%" class="text-center">Détails</th>-->
<!--            <th style="width: 15%" class="text-center">Modifier</th>-->
<!--            <th style="width: 15%" class="text-center">Supprimer</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--        </table>-->
<!--        <div class="scrollTableEmploye">-->
<!--          <table class="table table-striped">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td style="width: 19%">Dupont</td>-->
<!--              <td style="width: 19%">Jean</td>-->
<!--              <td style="width: 22%">Plombier Chauffagiste</td>-->
<!--              <td style="width: 11%" class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td style="width: 15%" class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td style="width: 16%" class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Dupont</td>-->
<!--              <td>Jean</td>-->
<!--              <td>Plombier Chauffagiste</td>-->
<!--              <td class="text-center"><button class="btn text-warning border border-warning"><i class="fas fa-info-circle fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-info border border-info"><i class="fas fa-pencil-alt fa-lg"></i></button></td>-->
<!--              <td class="text-center"><button class="btn text-danger border border-danger"><i class="fas fa-user-slash fa-lg"></i></button></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="pb-3 pl-2">-->
<!--          <button class="btn btn-warning">Valider</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row mx-auto">-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Factures émises : </h3>-->
<!--          <div class="pt-2 pl-2">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <button class="btn btn-warning ml-auto" [routerLink]="['/facture']">Créer une facture</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card col shadow my-4 ml-5 mr-4">-->
<!--      <div class="card-header bg-white">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Factures validées : </h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <select class="form-control col">-->
<!--              <option>Sélectionnez</option>-->
<!--              <option>Install. Clim</option>-->
<!--              <option>Isolation</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="mx-auto pl-4">-->
<!--    <div class="card shadow p-3 mb-5 bg-white rounded">-->
<!--      <div class="card-body">-->
<!--        <div class="row">-->
<!--          <h3 class="font-weight-bold mb-0">Documents relatifs :</h3>-->
<!--          <div class="pt-2 ml-auto">-->
<!--            <label class="btn btn-warning">-->
<!--              <input class="input-file" type="file" multiple>-->
<!--            </label>-->
<!--            <label  id="nomFichier"></label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
