<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Création de compte</title>
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/layout.css"
	rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
<script>
	function w3_open() {
		document.getElementById("main").style.marginLeft = "20%";
		document.getElementById("mySidebar").style.width = "20%";
		document.getElementById("mySidebar").style.display = "block";
		document.getElementById("openNav").style.display = 'none';
		document.getElementById("titre").style.marginLeft = "5%";
		document.getElementById("myOverlay").style.display = "block";
	}
	function w3_close() {
		document.getElementById("main").style.marginLeft = "0%";
		document.getElementById("mySidebar").style.display = "none";
		document.getElementById("openNav").style.display = "inline-block";
		document.getElementById("titre").style.marginLeft = "0%";
		document.getElementById("myOverlay").style.display = "none";
	}
</script>
</head>
<body>
	<header>
		<!-- Affichage Sidebar -->
		<div
			class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark text-white"
			style="display: none; z-index: 5" id="mySidebar">

			<!-- Affichage Menu avec bouton close dans la Sidebar -->
			<div class="rowMenu row border-bottom border-warning">
				<h1 class="m-auto">MENU</h1>
				<button class="btn w3-large m-5 text-warning" onclick="w3_close()">&times;</button>
			</div>

			<!-- Affichage contenu (liens) de la Sidebar -->
			<a href="#" class="w3-bar-item btn btn-dark p-5"><i
				class="fas fa-angle-double-right mr-4 text-warning"></i> Appels
				d'offre </a> <a href="#" class="w3-bar-item btn btn-dark p-5"><i
				class="fas fa-angle-double-right mr-4 text-warning"></i> Projets </a> <a
				href="#" class="w3-bar-item btn btn-dark p-5"><i
				class="fas fa-tasks mr-4 text-warning"></i> Actions </a> <a href="#"
				class="w3-bar-item btn btn-dark p-5"> <i
				class="fas fa-users mr-4 text-warning"></i> Réunions
			</a> <a href="#" class="w3-bar-item btn btn-dark p-5"> <i
				class="far fa-calendar-alt mr-4 text-warning"></i> Planning
			</a>
		</div>

		<!-- Affichage du bandeau en-tête -->
		<div id="main">
			<div
				class="row bg-dark text-white headerLayout border-bottom border-dark">
				<div class="my-auto ml-5 mr-4">
					<button id="openNav"
						class="btn btn-dark px-3 py-2 w3-xlarge border"
						onclick="w3_open()">&#9776;</button>
				</div>
				<div id="titre" class="my-auto col-sm-9">
					<h1 class="policeTitle">BTP MANAGEMENT</h1>
				</div>
				<div class="m-auto">
					<button class="btn text-white policeTitle border-left" id="user">
						<i class="fas fa-user fa-3x mt-1"></i>
						<h6>Nom de l'utilisateur</h6>
					</button>
				</div>
			</div>
		</div>
	</header>

	<div class="w3-overlay w3-animate-opacity" onclick="w3_close()"
		style="cursor: pointer" id="myOverlay"></div>

	<div class="container-fluid">
		<div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1000px">
			<div class="card-header bg-white border-bottom border-warning">
				<h3 class="font-weight-bold mb-0 my-3">Informations utilisateur</h3>
			</div>
			<div class="card-body">

				<div class="form-group">
					<label for="type">Type d'utilisateur :</label> <input type="text"
						class="form-control" id="type" name="type"
						style="border-radius: 25px" disabled readonly
						value="Maître d'oeuvre, maître d'ouvrage ou prestataire">
				</div>

				<div class="form-group">
					<label for="nom">Nom de l'entreprise:</label> <input type="text"
						class="form-control" id="nom" name="nom"
						style="border-radius: 25px" value="Nom d'utilisateur">
				</div>
				<div class="form-group">
					<label for="email">Email :</label> <input type="text"
						class="form-control" id="email" name="email"
						style="border-radius: 25px" value="Adresse mail de l'utilisateur">
				</div>
				<div class="form-group">
					<label for="telephone">Téléphone :</label> <input type="text"
						class="form-control" id="telephone" name="telephone"
						style="border-radius: 25px" value="N° de tel de l'utilisateur">
				</div>
				<div class="form-group">
					<label for="numeroSiret">Numéro de siret :</label> <input
						type="text" class="form-control" id="numeroSiret"
						name="numeroSiret" style="border-radius: 25px"
						value="Numéro de Siret de l'utilisateur">
				</div>
				<div class="form-group">
					<label for="numeroTVA">Numéro de TVA :</label> <input type="text"
						class="form-control" id="numeroTVA" name="numeroTVA"
						style="border-radius: 25px" value="Numero de TVA de l'utilisateur">
				</div>
				<div class="form-group">
					<!-- 				<div class="custom-file"> -->
					<!-- 				    <input type="file" class="custom-file-input" id="customFile"> -->
					<!-- 				    <label class="custom-file-label" for="customFile">Choose file</label> -->
					<!-- 				 </div> -->
					<label for="logo">Ajouter le logo de l'entreprise :</label> <input
						class="btn btn-outline-warning ml-3" type="file" id="myFile"
						name="filename2">
				</div>
			</div>
		</div>
		<div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1000px">
			<div class="card-header bg-white border-bottom border-warning">
				<h3 class="font-weight-bold mb-0 my-3">Adresse</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="nom">Rue:</label> <input type="text"
						class="form-control" id="rue" name="rue"
						style="border-radius: 25px" value="999 avenue de france">
				</div>
				<div class="form-group">
					<label for="email">Complement :</label> <input type="text"
						class="form-control" id="complement" name="complement"
						style="border-radius: 25px" value="Batiment B">
				</div>
				<div class="form-group">
					<label for="telephone">Code postal :</label> <input type="text"
						class="form-control" id="codePostal" name="codePostal"
						style="border-radius: 25px" value="75001">
				</div>
				<div class="form-group">
					<label for="telephone">Ville :</label> <input type="text"
						class="form-control" id="ville" name="ville"
						style="border-radius: 25px" value="Paris">
				</div>
			</div>
		</div>
		<div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1000px">
			<div class="card-header bg-white border-bottom border-warning">
				<h3 class="font-weight-bold mb-0 my-3">Informations de
					connexion</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="identifiant">Identifiant :</label> <input type="text"
						class="form-control" id="identifiant" name="identifiant"
						style="border-radius: 25px" value="Identifiant de l'utilisateur">
				</div>
				<div class="form-group">
					<label for="mdp">Mot de Passe :</label>
					<button class="btn btn-outline-warning ml-3">Modifier</button>
				</div>
			</div>
		</div>
		<div class="row">
			<button class="btn btn-outline-warning my-3 mx-auto">
				<i class="fas fa-user-check"></i>
				<p class="m-2 font-weight-bold">Enregistrer les modifications</p>
			</button>
		</div>
	</div>
	<footer>
		<nav
			class="navbar navbar-expand-md border-top border-warning p-4 text-white">
			<ul class="navbar-nav text-white m-auto">
				<li class="nav-item border-right border-warning px-5"><a
					href="#" class="nav-link colorLiensFooter">Qui sommes-nous ?</a></li>
				<li class="nav-item border-right border-warning px-5"><a
					href="#" class="nav-link colorLiensFooter">Partenaires</a></li>
				<li class="nav-item px-5"><a href="#"
					class="nav-link colorLiensFooter">Nous contacter</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>