<!DOCTYPE html >
​
<html>
<head>
<meta charset="utf-8" />
<title></title>
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/default.css"
	rel="stylesheet" type="text/css" media="all" />
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/dashboard.css"
	rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
</head>
​
<body>
​
​
	<div class="container-fluid">
​
		<div class="content-wrapper">
			<div class="row">
				<div class="col-md-1 grid-margin">
					<i class="fas fa-arrow-left " style="font-size: 32px"></i>
				</div>
				<div class="col-md-10 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0" style="text-align: center;">
							Refection de voirie sur l'A64</h4>
					</div>
				</div>
				<div class="col-md-1 grid-margin">
					<i class="fas fa-arrow-right "
						style="font-size: 32px; margin-left: 60px;"></i>
				</div>
			</div>
​
			<div class="row">
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Numéro de
								Devis</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">1546</h3>
								<i class="fa fa-tag "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Budget
								prévu</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">200
									000 euros</h3>
								<i class="fas fa-euro-sign "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Date de
								démarrage</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">20/07/2020</h3>
								<i class="fas fa-calendar-day " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Prix
								annoncé à l'offre</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">300
									000 euros</h3>
								<i class="fas fa-euro-sign "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Date de fin
								de projet</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">21/10/2021</h3>
								<i class="fas fa-calendar-day " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Déboursé
								réel</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">90
									000 euros</h3>
								<i class="fas fa-euro-sign "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Budget
								restant</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">110
									000 euros</h3>
								<i class="fas fa-euro-sign " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Factures en
								attente</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">4</h3>
								<i class="far fa-file-alt " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
​
		<div class="content-wrapper">
			<div class="row">
​
				<div class="col-md-12 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0">Prestations</h4>
					</div>
				</div>
​
			</div>
​
			<div class="row">
				<div class="col-md-6 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Fourniture
								et pose du BBSG 0/10 sur 5 cm</p>
​
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<p class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Colas</p>
								<i class="fas fa-road" style="font-size: 48px"></i>
							</div>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<p class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Avancement
									prévisionnel : 20/02/2020</p>
							</div>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<p class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Avancement
									réel : 25/02/2020</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Calendrier</p>
​
						</div>
					</div>
				</div>
			</div>
		</div>
​
		<div class="content-wrapper">
			<div class="row">
​
				<div class="col-md-12 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0">Actions</h4>
					</div>
				</div>
​
			</div>
​
			<div class="row">
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Actions en cours</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Actions effectuées</p>
​
						</div>
					</div>
				</div>
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Demande de nouvelles actions effectuées</p>
​
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="content-wrapper">
			<div class="row">
​
				<div class="col-md-12 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0">Réunions</h4>
					</div>
				</div>
​
			</div>
​
			<div class="row">
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Réunions planifiées</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Réunions effectuées</p>
​
						</div>
					</div>
				</div>
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Planifier une nouvelle réunion</p>
​
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="content-wrapper">
			<div class="row">
​
				<div class="col-md-12 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0">Factures</h4>
					</div>
				</div>
​
			</div>
​
			<div class="row">
				<div class="col-md-6 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Factures en attente de validation</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Factures validées</p>
​
						</div>
					</div>
				</div>
				
					</div>
				</div>
			</div>
		
</body>
</html>