<!--ACCUEIL MAITRE OEUVRE-->

<div>
  <h1 class="font-weight-bold my-5" style="text-align: center;">Accueil</h1>
</div>
<!-- 	Projets en Cours -->
<div class="container-fluid card mt-3 shadow">
  <div class="card-header bg-white border-bottom border-warning">
    <h3 class="font-weight-bold my-3">Projets en cours</h3>
  </div>
  <div>
    <input class="form-control mt-4" type="text"
           placeholder="Chercher un projet..." id="projetSearch"(keyup)="rechercheProj()"
           style="margin: 10px; width: 300px">
  </div>
  <div class="card-body">
    <table class="my-auto table">
      <thead class="thead-dark">
      <tr>
        <th style="width: 15%">Nom</th>
        <th style="width: 14.5%">Lieu</th>
        <th style="width: 15%">N° de devis</th>
        <th style="width: 15%">Maitre d'ouvrage</th>
        <th style="width: 15%">Date de démarrage</th>
        <th style="width: 15.5%">Date de fin du projet</th>
        <th style="width: 10%">Détails</th>
      </tr>
      </thead>
    </table>
    <div class="tabProjet">
      <table class="table table-striped " id="projetTable">
        <tbody>
        <tr *ngFor="let proj of projets">
          <td style="width: 15%">{{proj.offre.appelOffre.nom}}</td>
          <td style="width: 15%">{{proj.offre.appelOffre.adresse.ville}}</td>
          <td style="width: 15%">{{proj.numeroDevis}}</td>
          <td style="width: 15%">{{proj.offre.maitreOuvrage.nom}}</td>
          <td style="width: 15%">{{proj.dtDebut|date:'dd/MM/yyyy'}}</td>
          <td style="width: 15%">{{proj.dtFin |date:'dd/MM/yyyy'}}</td>
          <td style="width: 10%"><div class="btn-group" style="margin-left: 30px">
            <a class="btn btn-sm btn-lg" [routerLink]="['/projet-moe/:id']"><i class="fas fa-info"></i></a>
          </div></td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

<!-- 	Appels d'offre en attente -->
<div class="container-fluid card mt-3 shadow">
  <div class="card-header bg-white border-bottom border-warning" >
    <h3 class="font-weight-bold my-3">Appels d'offres en attente</h3>
  </div>
  <div>
    <input class="form-control mt-4" type="text" id="appelSearch"
           placeholder="Chercher un appel d'offre..." (keyup)="rechercheAppel()"
           style="margin: 10px; width: 300px">
  </div>
  <div class="card-body">
    <table class="my-auto table">
      <thead class="thead-dark">
      <tr>
        <th style="width: 18%">Nom</th>
        <th style="width: 18%">Lieu</th>
        <th style="width: 17%">Maître d'ouvrage</th>
        <th style="width: 18%" >Objectif</th>
        <th style="width: 19%">Date limite de réponse</th>
        <th style="width: 10%">Détails</th>
      </tr>
      </thead>
    </table>
    <div class="tabAppel">
      <table class="table table-striped" id="appelTable">
        <tbody>
        <tr *ngFor="let off of offres">
          <td style="width: 18%">{{off.appelOffre.nom}}</td>
          <td style="width: 18%">{{off.appelOffre.adresse.ville}}</td>
          <td style="width: 18%">{{off.maitreOuvrage.nom}}</td>
          <td style="width: 18%">{{off.appelOffre.objectif}}</td>
          <td style="width: 18%">{{off.appelOffre.dtLimite|date:'dd/MM/yyyy'}}</td>
          <td style="width: 10%"><div class="btn-group" style="margin-left: 20px">
            <a class="btn btn-sm btn-lg"><i class="fas fa-info"></i></a>
          </div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
