<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Factures</title>
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/layout.css"
	rel="stylesheet" type="text/css" media="all" />
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/dashboard.css"
	rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
</head>
<body style="background-color: #F8F8F8">

<header>
	<!-- Affichage Sidebar -->
		<div class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark text-white"	style="display: none; z-index: 5" id="mySidebar">
		
	<!-- Affichage Menu avec bouton close dans la Sidebar -->
			<div class="rowMenu row border-bottom border-warning">
				<h1 class="m-auto">MENU</h1>
				<button class="btn w3-large m-5 text-warning" onclick="w3_close()">&times;</button>
			</div>
			
	<!-- Affichage contenu (liens) de la Sidebar -->
			<a href="#" class="w3-bar-item btn btn-dark p-5"><i class="fas fa-angle-double-right mr-4 text-warning"></i> Appels	d'offre	</a> 
			<a href="#" class="w3-bar-item btn btn-dark p-5"><i class="fas fa-angle-double-right mr-4 text-warning"></i> Projets </a> 
			<a href="#" class="w3-bar-item btn btn-dark p-5"><i class="fas fa-tasks mr-4 text-warning"></i> Actions	</a> 
			<a href="#" class="w3-bar-item btn btn-dark p-5"> <i class="fas fa-users mr-4 text-warning"></i> Réunions </a> 
			<a href="#" class="w3-bar-item btn btn-dark p-5"> <i class="far fa-calendar-alt mr-4 text-warning"></i> Planning </a>
		</div>

	<!-- Affichage du bandeau en-tête -->
		<div id="main">
			<div class="row bg-dark text-white headerLayout border-bottom border-dark">
				<div class="my-auto ml-5 mr-4">
					<button id="openNav" class="btn btn-dark px-3 py-2 w3-xlarge border" onclick="w3_open()">&#9776;</button>
				</div>
				<div id="titre" class="my-auto col-sm-9">
					<h1 class="policeTitle">BTP MANAGEMENT</h1>
				</div>
				<div class="m-auto">
					<button class="btn text-white policeTitle border-left" id="user"><i class="fas fa-user fa-3x mt-1"></i>
					<h6>Nom de l'utilisateur</h6>
					</button>
				</div>
			</div>
		</div>
	</header>
	
	<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor: pointer" id="myOverlay"></div>
	
	<div class="container-fluid">
		<div class="row mx-auto">
				<div class="col-md-1 grid-margin">
					<i class="fas fa-arrow-left " style="font-size: 32px"></i>
				</div>
				<div class="col-md-10 grid-margin">
					<div>
						<h3 class="font-weight-bold mb-0" style="text-align: center;">Envoyer une facture</h3>
					</div>
				</div>
			</div>
			
	<div class="col-md-12 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							  <form>
    							<div class="form-group border-bottom border-warning">
									<label for="maitreOeuvre">Emetteur :</label> <input
									type="text" class="form-control" id="maitreOeuvre" style="border-radius: 20px">
									<br>
								</div>
								<div class="form-group border-bottom border-warning">
									<label for="adrMO">Adresse émetteur :</label> <input
									type="text" class="form-control" id="adrMO" style="border-radius: 20px">
									<br>
								</div>
								<div class="form-group border-bottom border-warning">
									<label for="maitreOuvrage">Destinataire :</label> <input
									type="text" class="form-control" id="maitreOuvrage" style="border-radius: 20px">
									<br>
								</div>
								<div class="form-group border-bottom border-warning">
									<label for="adrME">Adresse destinataire :</label> <input
									type="text" class="form-control" id="adrME" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="projet">Projet associé :</label> <input
									type="text" class="form-control" id="projet" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="dtFacturation">Date d'accord prestation :</label> <input
									type="date" class="form-control" id="dtFacturation" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="prestation">Prestation :</label> <input
									type="text" class="form-control" id="prestation" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="quantite">Quantité :</label> <input
									type="text" class="form-control" id="quantite" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="prixHT">Prix HT:</label> <input
									type="number" class="form-control" id="prixHT" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="remise">Remise :</label> <input
									type="number" class="form-control" id="remise" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group border-bottom border-warning">
									<label for="dtEcheance">Date échéance réglement :</label> <input
									type="date" class="form-control" id="dtEcheance" style="border-radius: 20px">
									<br>
								</div>
									<div class="form-group">
									<label for="penaliteRetard">Pénalités si retard :</label> <input
									type="number" class="form-control" id="penaliteRetard" style="border-radius: 20px">
									<br>
								</div>
 							 </form>
 							  <button type="submit" class="btn btn-primary">Envoyer la facture</button>
						</div>
					</div>
				</div>
			</div>

	<footer>
		<nav class="navbar navbar-expand-md border-top border-warning p-4 text-white">
			<ul class="navbar-nav text-white m-auto">
				<li class="nav-item border-right border-warning px-5"><a href="#" class="nav-link colorLiensFooter">Qui sommes-nous ?</a></li>
				<li class="nav-item border-right border-warning px-5"><a href="#" class="nav-link colorLiensFooter">Partenaires</a></li>
				<li class="nav-item px-5"><a href="#" class="nav-link colorLiensFooter">Nous contacter</a></li>
			</ul>
		</nav>
	</footer>
	
	<script>
		function w3_open() {
			document.getElementById("main").style.marginLeft = "20%";
			document.getElementById("mySidebar").style.width = "20%";
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("openNav").style.display = 'none';
			document.getElementById("titre").style.marginLeft = "5%";
			document.getElementById("myOverlay").style.display = "block";
		}
		function w3_close() {
			document.getElementById("main").style.marginLeft = "0%";
			document.getElementById("mySidebar").style.display = "none";
			document.getElementById("openNav").style.display = "inline-block";
			document.getElementById("titre").style.marginLeft = "0%";
			document.getElementById("myOverlay").style.display = "none";
		}
	</script> 
	
</body>
</html>