<div class="container-fluid">

  <div class="row">
    <div class="card col shadow my-5 mx-5" >
      <div class="card-header bg-white border-bottom border-warning" >
        <h3 class="font-weight-bold mb-0 my-3">Gestion des employés</h3>
      </div>
      <div>
        <input class="form-control mt-4" id="empSearch" type="text"
               placeholder="Rechercher un employé..." id="empSearch"(keyup)="rechercheEmp()"
               style="margin: 10px; width: 300px">
      </div>
      <div class="card-body">
        <div>
          <table class="my-auto table">
            <thead class="thead-dark">
            <tr>
              <th style="width: 20%">Nom</th>
              <th style="width: 20%">Prénom</th>
              <th style="width: 24%">Métier</th>
              <th style="width: 12%" class="text-center">Détails</th>
              <th style="width: 12%" class="text-center">Modifier</th>
              <th style="width: 12%" class="text-center">Supprimer</th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="scrollTableEmploye">
          <table class="table table-striped" id="empTable">
            <tbody>
              <tr *ngFor="let sal of salaries">
                <td style="width: 20%">{{sal.nom}}</td>
                <td style="width: 20%">{{sal.prenom}}</td>
                <td style="width: 24%">{{sal.metier}}</td>
                <td style="width: 12%" class="text-center"><button class="btn  btn-outline-warning" (click)="detailsSalarie(sal.id)"><i class="fas fa-info-circle fa-lg"></i></button></td>
                <td style="width: 12%" class="text-center"><button class="btn  btn-outline-info" (click)="editSalarie(sal.id)"><i class="fas fa-pencil-alt fa-lg"></i></button></td>
                <td style="width: 13%" class="text-center"><button class="btn  btn-outline-danger" (click)="deleteSalarie(sal.id)"><i class="fas fa-user-slash fa-lg"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center mt-3">
          <button class="btn text-success border border-success px-5" (click)="addSalarie()"><i class="fas fa-user-plus fa-4x"></i></button>
        </div>
      </div>
    </div>

    <div class="card col shadow mr-5 ml-4 my-5" *ngIf="salarieForm">
      <div class="card-header bg-white border-bottom border-warning">
        <h3 class="font-weight-bold my-3" *ngIf="salarieForm.id == null"> Création d'un nouvel employé</h3>
        <h3 class="font-weight-bold my-3" *ngIf="salarieForm.id != null"> Modification de : {{salarieForm.prenom}} {{salarieForm.nom}}</h3>
      </div>
      <div class="card-body">
        <div class="mt-3">
            <div class="form-group row mb-4">
              <label class="col-sm-2 col-form-label" for="nom"> Nom : </label>
              <input type="text" class="form-control col-sm-9" id="nom" style="border-radius: 20px" [(ngModel)]="salarieForm.nom">
            </div>
            <div class="form-group row mb-4">
              <label class="col-sm-2 col-form-label" for="prenom"> Prénom : </label>
              <input type="text" class="form-control col-sm-9" id="prenom" style="border-radius: 20px" [(ngModel)]="salarieForm.prenom">
            </div>
            <div class="form-group row mb-4">
              <label class="col-sm-2 col-form-label" for="metier"> Métier : </label>
              <input type="text" class="form-control col-sm-9" id="metier" style="border-radius: 20px" [(ngModel)]="salarieForm.metier">
            </div>
            <div class="form-group row mb-4">
              <label class="col-sm-2 col-form-label" for="rue"> Rue : </label>
              <input type="text" class="form-control col-sm-9" id="rue" style="border-radius: 20px" [(ngModel)]="salarieForm.adresse.rue">
            </div>
            <div class="form-group row mb-4">
              <label class="col-sm-2 col-form-label" for="codePostal"> Code postal : </label>
              <input type="email" class="form-control col-sm-9" id="codePostal" style="border-radius: 20px" [(ngModel)]="salarieForm.adresse.codePostal">
            </div>
            <div class="form-group row mb-4">
              <label class="col-sm-2 col-form-label" for="ville"> Ville : </label>
              <input type="text" class="form-control col-sm-9" id="ville" style="border-radius: 20px" [(ngModel)]="salarieForm.adresse.ville">
            </div>


            <div class="row">
              <button class="btn btn-outline-warning mt-5 ml-auto mr-auto" (click)="saveSalarie()"><i class="fas fa-user-check"></i><p class="m-2 font-weight-bold">Enregistrer</p></button>
              <button class="btn btn-outline-danger mt-5 mr-auto" (click)="cancelSalarie()"><i class="fa fa-undo"></i><p class="m-2 font-weight-bold">Annuler</p></button>
            </div>
        </div>
      </div>
    </div>

    <div class="card col shadow mr-5 ml-4 my-5" *ngIf="salarieFormDetails">
      <div class="card-header bg-white border-bottom border-warning">
        <h3 class="font-weight-bold my-3">{{salarieFormDetails.nom}} {{salarieFormDetails.prenom}}</h3>
      </div>
      <div class="card-body">
        <div class="mt-3">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="nom"> Nom : </label>
            <input type="text" class="form-control col-sm-9" id="nom" style="border-radius: 20px" readonly [(ngModel)]="salarieFormDetails.nom">
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="prenom"> Prénom : </label>
            <input type="text" class="form-control col-sm-9" id="prenom" style="border-radius: 20px" readonly [(ngModel)]="salarieFormDetails.prenom">
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="metier"> Métier : </label>
            <input type="text" class="form-control col-sm-9" id="metier" style="border-radius: 20px" readonly [(ngModel)]="salarieFormDetails.metier">
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="rue"> Rue : </label>
            <input type="text" class="form-control col-sm-9" id="rue" style="border-radius: 20px" readonly [(ngModel)]="salarieFormDetails.adresse.rue">
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="codePostal"> Code postal : </label>
            <input type="email" class="form-control col-sm-9" id="codePostal" style="border-radius: 20px" readonly [(ngModel)]="salarieFormDetails.adresse.codePostal">
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="ville"> Ville : </label>
            <input type="text" class="form-control col-sm-9" id="ville" style="border-radius: 20px" readonly [(ngModel)]="salarieFormDetails.adresse.ville">
          </div>
          <div class="row">
            <button class="btn btn-outline-danger mt-5 mx-auto" (click)="cancelSalarieDetails()"><i class="fa fa-undo"></i><p class="m-2 font-weight-bold">Fermer</p></button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="card col shadow mx-5 my-5">
      <div class="card-header bg-white border-bottom border-warning">
        <h3 class="font-weight-bold mb-0 my-3">Gestion du matériel</h3>
      </div>
      <div>
        <input class="form-control mt-4" id="matSearch" type="text"
               placeholder="Rehercher un matériel..." (keyup)="rechercheMat()"
               style="margin: 10px; width: 300px">
      </div>
      <div class="card-body">
        <div>
          <table class="my-auto table">
            <thead class="thead-dark">
            <tr>
              <th style="width: 28%">Nom</th>
              <th style="width: 21%">Quantité</th>
              <th style="width: 21%">Unité</th>
              <th style="width: 15%" class="text-center">Modifier</th>
              <th style="width: 15%" class="text-center">Supprimer</th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="scrollTableMateriel">
          <table class="table table-striped" id="matTable">
            <tbody>
              <tr *ngFor="let mat of materiels">
                <td style="width: 28%">{{mat.nom}}</td>
                <td style="width: 21%; padding-left: 30px">{{mat.quantite}}</td>
                <td style="width: 21%">{{mat.unite}}</td>
                <td style="width: 15%" class="text-center"><button class="btn btn-outline-info" (click)="editMateriel(mat.id)"><i class="fas fa-pencil-alt fa-lg"></i></button></td>
                <td style="width: 15%" class="text-center"><button class="btn btn-outline-danger" (click)="deleteMateriel(mat.id)"><i class="fas fa-trash-alt"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center mt-3">
          <button class="btn text-success border border-success px-5" (click)="addMateriel()"><i class="fas fa-wrench fa-4x"></i><i class="fas fa-plus fa-2x"></i></button>
        </div>

      </div>
    </div>
    <div class="card col shadow mr-5 ml-4 my-5" *ngIf="materielForm">
      <div class="card-header bg-white border-bottom border-warning">
        <h3 class="font-weight-bold my-3" *ngIf="materielForm.id == null"> Ajout d'un nouveau matériel</h3>
        <h3 class="font-weight-bold my-3" *ngIf="materielForm.id != null"> Modification de : {{materielForm.nom}}</h3>
      </div>
      <div class="card-body">
        <div id="materielForm" class="mt-3">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label mb-4" for="nom"> Nom : </label>
              <input type="text" class="form-control col-sm-9" id="nom" style="border-radius: 20px" [(ngModel)]="materielForm.nom">
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label mb-4" for="quantite"> Quantité : </label>
              <input type="number" class="form-control col-sm-9" id="quantite" style="border-radius: 20px" [(ngModel)]="materielForm.quantite">
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label mb-4" for="unite"> Unité : </label>
              <select class="form-control col-sm-9" id="unite" style="border-radius: 20px" [(ngModel)]="materielForm.unite">
                <option value="unite"> Unité </option>
                <option value="kg"> Kg </option>
                <option value="m2"> m² </option>
                <option value="m3"> m³ </option>
                <option value="metreLineaire"> Mètre linéaire </option>
              </select>
            </div>
            <div class="row">
              <button class="btn btn-outline-warning mt-5 ml-auto mr-auto" (click)="saveMateriel()"><i class="fas fa-wrench"></i><p class="m-2 font-weight-bold">Enregistrer</p></button>
              <button class="btn btn-outline-danger mt-5 mt-5 mr-auto" (click)="cancelMateriel()"><i class="fa fa-undo"></i><p class="m-2 font-weight-bold">Annuler</p></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
