<div class="container-fluid" style="background-color: #F8F8F8">

  <div class="content-wrapper">
    <div class="row" id="ligne">

      <div class="col-md-12 grid-margin my-3">
        <div>
          <h2 class="font-weight-bold my-3" style="text-align: center;">
            {{projet.offre.appelOffre?.nom| titlecase}}</h2>
        </div>
      </div>

    </div>

    <div class="row" id="ligne">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="height: 150px;">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Numéro de
              Devis</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0" >{{projet.numeroDevis}}</h3>
              <i class="fa fa-tag "
                 style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="height: 150px;">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Date de
              démarrage</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{projet.dtDebut|date:'dd/MM/yyyy'}}</h3>
              <i class="fas fa-calendar-alt " style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="height: 150px;">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Date de fin
              de projet</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{projet.dtFin|date:'dd/MM/yyyy'}}</h3>
              <i class="fas fa-calendar-check " style="font-size: 32px; color: rgb(246, 194, 59)"></i>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-3 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Factures</p>
            <div
              class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">4</h3>
              <i class="far fa-file " style="font-size: 32px"></i>
            </div>
          </div>
        </div>
      </div>-->

    </div>

  </div>


  <div class="content-wrapper">

    <div class="row" id="ligne">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded"
             style="height: 500px;">
          <div class="card-header bg-white border-bottom border-warning"
               style="display: flex">
            <h3 class="font-weight-bold mb-0 my-3">Prestations</h3>

          </div>
          <div class="card-body">
            <div>
              <table class="my-auto table">
                <thead class="thead-dark">
                <tr>
                  <th style="width: 20%">Nom</th>
                  <th style="width: 20%">Entreprise</th>
                  <th style="width: 8%">Date de début</th>
                  <th style="width: 40%" class="text-center">Date de fin</th>
                </tr>
                </thead>
              </table>
            </div>
            <div class="scrollTablePrestations">
              <table class="table table-striped">
                <tbody >
                <tr  *ngFor="let prestation of prestationref" >
                  <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 19%">{{prestation.nom}}</td>
                  <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 19%">{{prestation.prestataire.nom}}</td>
                  <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 22%">{{prestation.dtDebut|date:'dd/MM/yyyy'}}</td>
                  <td  *ngIf="prestation.phasePresta=='ValideMOeuvre'" style="width: 22%">{{prestation.dtFin|date:'dd/MM/yyyy'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="content-wrapper">


    <div class="row " id="ligne">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded"
             style="height: 600px;">
          <div class="card-header bg-white border-bottom border-warning"
               style="display: flex">
            <h3 class="font-weight-bold mb-0 my-3">Actions planifiées</h3>

          </div>
          <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 17%">Action</th>
                    <th style="width: 25%">Entreprise</th>
                    <th style="width: 20%">Supprimer</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTableActions">
                <table class="table table-striped">
                  <tbody>
                  <tr  *ngFor="let action of actionref">
                    <td *ngIf="action.effectuee == false" style="width: 30%">{{action.nomAction}}</td>
                    <td *ngIf="action.prestataire!=null && action.effectuee == false" style="width: 19%">{{action.prestataire.nom}}</td>
                    <td *ngIf="action.prestataire==null && action.effectuee == false" style="width: 19%">Non défini</td>
                    <td *ngIf="action.prestataire==null && action.effectuee == false" style="width: 19%"><span style="font-size: 32px; color: rgb(220, 53, 69)"></span></td>
                    <td *ngIf="action.prestataire!=null && action.effectuee == false" style="width: 19%"><span style="font-size: 32px; color: rgb(255, 193, 7)"></span></td>
                    <td *ngIf="action.effectuee == false"><div style="margin-left: auto"><button *ngIf="action.prestataire!=null"   class="btn text-warning border border-warning" (click)="validerAction(action.id)">Valider</button>
                      <button class="btn text-danger border border-danger"  (click)="deleteAction(action.id)"><i class="fas fa-trash-alt"></i></button></div></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            <div style="display: flex;"></div>

            <div class="card-footer">
              <a class="btn btn-warning btn-lg" (click)="addAction()" >
                <i class="fa fa-plus"></i>
              </a>
            </div>

            <div class="add-items d-flex mb-0 mt-4"  *ngIf="currentAction">
              <input type="text" class="form-control todo-list-input mr-2" [(ngModel)]="currentAction.nomAction"
                     placeholder="Créer une nouvelle action">

              <button (click)="saveAction()"
                class="add btn btn-icon text-warning todo-list-add-btn bg-transparent">
                <i class="fa fa-check"> </i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card shadow p-3 mb-5 bg-white rounded"
             style="height: 600px;">
          <div class="card-header bg-white border-bottom border-warning"
               style="display: flex">
            <h3 class="font-weight-bold mb-0 my-3">Actions terminées</h3>

          </div>

              <div class="card-body">
                <div>
                  <table class="my-auto table">
                    <thead class="thead-dark">
                    <tr>
                      <th style="width: 35%">Action</th>
                      <th style="width: 35%">Entreprise</th>
                      <th style="width: 20%"> Détail</th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="scrollTablePrestations">
                  <table class="table table-striped">
                    <tbody>
                    <tr  *ngFor="let action of actionref" >
                      <td style="width: 30%"  *ngIf="action.effectuee==true">
                        <label>  {{action.nomAction}}
                        </label>
                      </td>
                      <td style="width: 30%"  *ngIf="action.effectuee==true">
                        <label>  {{action.prestataire?.nom}}
                        </label>
                      </td>
                      <td *ngIf="action.effectuee==true" style="width: 19%"><button class="btn text-warning border border-warning"
                                                     [routerLink]="['/action/'+ action.id]">
                        Voir détail
                      </button></td>



                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>



    <div class="content-wrapper">
      <div class="row" id="ligne">

        <div class="col-md-4 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Réunions planifiées</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 25%">Réunion</th>
                    <th style="width: 25%">Date</th>
                    <th style="width: 20%">Supprimer</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTableReunions">
                <table class="table table-striped">
                  <tbody >
                  <tr *ngFor="let reunion of reunionrefplanifie" >
                    <td style="width: 30%">
                      <label>  {{reunion.sujet}}
                      </label>


                    <td >{{reunion.dtReunion|date:'dd/MM/yyyy'}}</td>


                  <td><div style="margin-left:auto ">
                    <button class="btn text-danger border border-danger" (click)="deleteReunionPlanifiees(reunion.id)">
                      <i class="fas fa-trash-alt" ></i>
                    </button></div></td> </tr>
                  </tbody>
                </table>
              </div>


            </div>
          </div>

        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Réunions terminées</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 50%">Réunion</th>
                    <th style="width: 50%">Date</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTableReunions">
                <table class="table table-striped">
                  <tbody >
                  <tr  *ngFor="let reunion of reunionrefeffectue">
                    <td style="width: 50%">
                      <label>  {{reunion.sujet}}
                      </label>
                    <td style="width: 50%">{{reunion.dtReunion|date:'dd/MM/yyyy'}}</td>
                    <td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card shadow p-3 mb-5 bg-white rounded"
                   style="height: 400px;">
                <div class="card-header bg-white border-bottom border-warning"
                     style="display: flex">
                  <h3 class="font-weight-bold mb-0 my-3">Planifier une
                    nouvelle réunion</h3>

                </div>
                <div class="card-body">

                    <a class="btn btn-warning btn-lg" (click)="addReunion()" >
                      <i class="fa fa-plus"></i>
                    </a>



                      <div class="form-group" *ngIf="currentReunion">
                        <label for="telephone">Sujet:</label>
                        <input type="text" class="form-control" id="telephone" [(ngModel)]="currentReunion.sujet">
                      </div>
                      <div class="form-group" *ngIf="currentReunion">
                        <label for="dtReunion">Date :</label>
                        <input type="date" class="form-control" id="dtReunion" [ngModel]="currentReunion.dtReunion | date:'yyyy-MM-dd'" (ngModelChange)="currentReunion.dtReunion = $event">
                      </div>

                      <button (click)="saveReunion()" *ngIf="currentReunion"
                              class="add btn btn-icon text-warning todo-list-add-btn bg-transparent">
                        <i class="fa fa-check"> </i>
                      </button>


                </div>
              </div>
            </div>



      </div>
    </div>

   <!-- <div class="content-wrapper">
      <div class="row" id="ligne">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Facture en attente
                de validation</h3>

            </div>
            <div class="card-body">
              <div class="card-body">
                <div>
                  <table class="my-auto table">
                    <thead class="thead-dark">
                    <tr>
                      <th style="width: 18%">Nom facture</th>
                      <th style="width: 18%">Maitre d'Oeuvre</th>
                      <th style="width: 20%">Numero facture</th>
                      <th style="width: 20%"></th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="scrollTablePrestations">
                  <table class="table table-striped">
                    <tbody *ngFor="let facture of factureref">
                    <tr  *ngIf="facture.payee==false && facture.factureMOEMO==true" >
                      <td style="width: 30%">
                        <label>  {{facture.nomFacture}}
                        </label>
                      </td>
                      <td style="width: 30%">
                        <label>  {{facture.maitreOeuvre?.nom}}
                        </label>
                      </td>
                      <td style="width: 30%">
                        <label>  {{facture.numeroFacture}}
                        </label>
                      </td>

                      <td style="width: 19%"><button (click)="validerFacture(facture.id)" class="btn text-warning border border-warning">
                        Valider
                      </button></td>
                      <td  style="width: 19%"> <button class="btn text-danger border border-danger">
                        <i class="fas fa-trash-alt" (click)="deleteFacture(facture.id)"></i>
                      </button></td>


                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card shadow p-3 mb-5 bg-white rounded"
               style="height: 400px;">
            <div class="card-header bg-white border-bottom border-warning"
                 style="display: flex">
              <h3 class="font-weight-bold mb-0 my-3">Facture validée</h3>

            </div>
            <div class="card-body">
              <div>
                <table class="my-auto table">
                  <thead class="thead-dark">
                  <tr>
                    <th style="width: 30%">Nom facture</th>
                    <th style="width: 25%">Maitre d'Oeuvre</th>
                    <th style="width: 20%">Numero facture</th>
                    <th style="width: 15%"></th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="scrollTablePrestations">
                <table class="table table-striped">
                  <tbody *ngFor="let facture of factureref">
                  <tr  *ngIf="facture.payee==true && facture.factureMOEMO==true" >
                    <td style="width: 30%">
                      <label>  {{facture.nomFacture}}
                      </label>
                    </td>
                    <td style="width: 30%">
                      <label>  {{facture.prestataire?.nom}}
                      </label>
                    </td>
                    <td style="width: 30%">
                      <label>  {{facture.numeroFacture}}
                      </label>
                    </td>


                  </tr>
                  </tbody>
                </table>
              </div>


            </div>
          </div>

        </div>
      </div>



  </div>

-->









