<div class="container-fluid">

  <div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1200px">
    <div class="card-header bg-white border-bottom border-warning">
      <h3 class="font-weight-bold mb-0 my-3">Projet : nom du projet</h3>
    </div>
    <div class="card-body">
      <div class="row ml-3 py-4">
        <label class="col-sm-2 col-form-label" for="maitreOeuvre"> Maître d'œuvre : </label>
        <div class="form-control col-sm-9 text-center" id="maitreOeuvre" style="border-radius: 20px;">Nom du maitre d'oeuvre</div>
      </div>
      <div class="row ml-3 py-4">
        <label class="col-sm-2 col-form-label" for="projet"> Projet : </label>
        <div class="form-control col-sm-9 text-center" id="projet" style="border-radius: 20px;">Nom du projet</div>
      </div>
      <div class="row ml-3 py-4">
        <label class="col-sm-2 col-form-label" for="lieu"> Lieu : </label>
        <div class="form-control col-sm-9 text-center" id="lieu" style="border-radius: 20px;">Lieu du projet</div>
      </div>
      <div class="row ml-3 py-4">
        <label class="col-sm-2 col-form-label" for="date"> Date : </label>
        <div class="form-control col-sm-9 text-center" id="date" style="border-radius: 20px;">Date de la consultation</div>
      </div>
      <div  class="row ml-3 py-4">
        <label class="col-sm-4 col-form-label pb-3" for="motifConsult"> Motif de la consultation : </label>
        <div class="ml-3 form-control" id="date" style="border-radius: 20px; height: 200px;">Texte</div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <button class="btn btn-outline-warning mx-auto p-3"><b>Refuser la consultation</b></button>
    <button class="btn btn-outline-warning mx-auto p-3"><b>Répondre à la consultation</b></button>
  </div>
</div>
